<html>
  <head>
    <meta charset='utf-8'>
    <title>Vendor Order Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to your order page!</h1>
    <a href="/vendors/new">Add new order here</a>
    <a href="/vendors">See a list of orders here</a>
  </body>
</html>
  