
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vendor Order Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    @using VendorOrder.Models
  </head>
  <body>
    <form action="/vendors/@Model.Id/orders" method="post">
      <label for="orderName">Add New Order</label>
      <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
      <input id="orderName" name="orderNamee" type="text">
      @* <label for="name">Add New Order</label>
      <input id="name" name="name" type="text"> *@
      <label for="orderDescription">Add Order Description</label>
      <input id="orderDescription" name="orderDescription" type="text">
      <label for="orderPrice">Add Price</label>
      <input id="orderPrice" name="orderPrice" type="text">
      <label for="orderDate">Add Date</label>
      <input id="orderDate" name="orderDate" type="text">
      <button type="submit">Submit</button>
    </form>
    <p><a href="/">Home Page</a></p>
    <p><a href="/vendors">Vendor Page</a></p>
  </body>
</html>
